DATABASE_URL="sqlite_test.db"
SECRET="sjldk92#sd903mnc./xklsjdf9sdfj"
LOGTO_CLIENT_ID=""
LOGTO_CLIENT_SECRET=""
LOGTO_M2M_API="https://default.logto.app/api"
LOGTO_ENDPOINT="http://localhost:3010/"
BACKEND_ENDPOINT=""
